nav{
    display: flex;
    justify-content: space-around;


}


form{
    display: flex;
    flex-direction: column;
}

fieldset{
    display: flex;
    flex-direction: column;
}

button{
    width:200px;
}

.chatName{
    display: flex;
    justify-content: center;
    align-items: center;
}